---
upgrade_packages: false

vm_config:
  memory: 2048
  cores: 2
  disk_size: "32G"
  disk_storage: "vm-images"
  username: "ubuntu"
  password: ""
  hagroup: ""


pve_nodes:
  - pve-demo
#  - pve-demo2
#  - pve-demo3

pve_credentials:
  api_user: ""
  api_endpoint: ""
  api_token_id: ""
  api_secret: ""
  api_password: ""

ssh_public_key: ""
ssh_private_key_path: "/home/ubuntu/.sshkey/cloudinit"

gateways:
  - uuid: development
    comments: "Testing Servers"
    nodes:
      - name: 'dev-michael'
    state: present
  - uuid: openvas
    comments: "Testing Servers"
    nodes:
      - name: 'ovs'
    state: present

